#form for bookings

<div>
	<%= form_tag("/bookings#new", method: 'get') do %>
		<table>
			<thead>
				<tr>Select</tr>
				<tr>Date</tr>
				<tr>Departing</tr>
				<tr>Arriving</tr>
				<tr>Time</tr>
				<tr>Duration</tr>
			</thead>
			<tbody>
		<% @flights.each do |f| %>
		<tr>
			<td><%= radio_button_tag(:flight, f.id) %></td>
			<td><%= f.date.strftime("%B %d %Y") %></td>	
			<td><%= f.from_airport.airport_code %></td>	
			<td><%= f.to_airport.airport_code %></td>
			<td><%= f.date.strftime("%I:%M%p") %></td>
			<td><%= f.duration %></td>
		</tr>
		<% end %>
		</tbody>
		</table>
		<%= hidden_field_tag(:passengers, params[:passengers]) %>
		<%= submit_tag("Submit") %>
	<% end %>
</div>



#need ot have passengers here as a hidden value

