<h2>Flight # <strong><%= o.id %></strong> 
leaving <strong><%= o.from_airport.airport_code %></strong> 
for <strong><%= o.to_airport.airport_code %></strong> 
at <strong><%= o.date.strftime("%I:%M%p") %></strong> 
on <strong><%= o.date.strftime("%B %d, %Y") %></strong></h2>
